<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<body>
<div>
  <h3>Alumnes</h3>
  <table>
    <thead class="thead-dark">
    <tr>
      <th>Id</th>
      <th>Nom</th>
      <th>Cognom </th>
      <th>Cicle</th>
      <th>Modalitat</th>
      <th>Estat</th>
      <th>Empresa</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="alumne : ${alumnes}">
      <td th:text="${alumne.id}"/>
      <td th:text="${alumne.nom}"/>
      <td th:text="${alumne.cognom}"/>
      <td th:text="${alumne.cicle}"/>
      <td th:text="${alumne.modalitat}"/>
      <td th:text="${alumne.estat}"/>
      <td th:text="${alumne.empresa}"/>
    </tr>
    </tbody>
  </table>
</div>
</body>
</html>
