<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Form</title>
  <!-- Bootstrap CSS -->
  <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" rel="stylesheet">
</head>
<body>
<div th:include="htmlUtils/navbar"></div>

<br>
<div class="container">
  <form th:action="@{/api/alumnes/alta}" th:object="${alumne}" method="POST">
    <div class="mb-3 row">
      <input class="form-control" type="text" placeholder="Alumne Nom" th:field="${alumne.nom}">
    </div>
    <div class="mb-3 row">
      <input class="form-control" type="text" placeholder="Alumne Cognom" th:field="${alumne.cognom}">
    </div>
    <div class="mb-3 row">
      <input class="form-control" type="text" placeholder="Alumne Cicle" th:field="${alumne.cicle}">
    </div>
    <div class="mb-3 row">
      <input class="form-control" type="text" placeholder="Alumne Modalitat" th:field="${alumne.modalitat}">
    </div>


    <div class="mb-3 row">
      <select class="form-select" th:field="${alumne.estat}">
        <option value="PENDENT"> Pendent</option>
        <option value="ENPROCES"> En Procés</option>
        <option value="COMPLETAT"> Completat</option>
      </select>
    </div>
    <div class="mb-3 row">
      <input class="form-control" type="text" placeholder="Empresa" th:field="${alumne.empresa}">
    </div>

    <button class="btn btn-info col-2" type="submit">Enter</button>
  </form>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/js/bootstrap.bundle.min.js"></script>
<div th:include="htmlUtils/footer"></div>
</body>
</html>