<html xmlns:th="http://www.thymeleaf.org">


<body>
<br>

<div class="container">
  <form th:action="@{/api/alumnes/alta}" th:object="${alumne}" method="POST">

    <div class="form-group row">
      <input type="text" placeholder="Alumne Nom" th:field="${alumne.nom}">
    </div>
    <div class="form-group row">
      <input type="text" placeholder="Alumne Cognom" th:field="${alumne.cognom}">
    </div>
    <div class="form-group row">
      <input type="text" placeholder="Alumne Cicle" th:field="${alumne.cicle}">
    </div>
    <div class="form-group row">
      <input type="text" placeholder="Alumne Modalitat" th:field="${alumne.modalitat}">
    </div>


    <div class="form-group row">
      <select th:field="${alumne.estat}">
        <option th:value="PENDENT"> Pendent</option>
        <option th:value="ENPROCES"> En Procés</option>
        <option th:value="COMPLETAT"> Completat</option>
      </select>
    </div>

    <button class="btn btn-info col-2" type="submit">Enter Project</button>

  </form>
</div>

</body>


</html>